.box{
    align-content: center;
    margin-left: 600px;
    margin-top: 300px;
    height:100px;
    width: 300px;
    border-radius: 2cm;
    font-weight: bold;
    background-color:pink;
}